@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

* {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  user-select: none;
}

:root {
  --Xsmall-font-size: 10px;
  --small-font-size: 12px;
  --main-font-size: 14px;
  --inital-font-size: 16px;
  --larg-font-size: 26px;
  --header-font-size: 30px;
  --Xlarg-font-size: 36px;
  --main-color: #a99571;
  --text-color: #ffffff;
  --section-color: #19131d;
  --body-color-gradient: #906da598;
  --slider-overLayDark: rgb(24, 19, 28);
  --main-section-color: #18131c;
  --second-section-color: #312638;
  --card-color: #312638;
  --border-card-color: #906da598;
  --text-black-white: white;
  --card-backgrond: rgba(255, 255, 255, 0.075);
}

.light-mode {
  --section-color: #2c2233;
  --body-color-gradient: #ac86c298;
  --slider-overLayDark: rgb(51, 40, 59);
  --text-color: #000000;
  --card-color: #ffffff;
  --main-section-color: #f5f5f5;
  --second-section-color: #402f49;
  --border-card-color: rgba(184, 184, 184, 0.822);
  --text-black-white: #000;
  --card-backgrond: #54415f;
  /* /////////////////////////// */
}

a {
  text-decoration: none;
}

html,
body {
  margin: 0px;
  padding: 0px;
  position: relative;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  transition: 0.2s;
  background-color: var(--body-color);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

input:focus {
  outline: none;
}
h1 {
  margin: 0px;
}

.container {
  width: 90%;
  margin: 0px auto;
}

.mainButton {
  padding: 7px 18px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: var(--main-font-size);
  color: white;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}

.valueInput {
  display: none;
}

.emptyInput {
  display: none;
}

.imptyBox {
  min-height: 100vh;
}
.ArLang {
  display: initial;
}
.EnLang {
  display: initial;
}

/* ///////////////////////////////////////////////// Start Theme Button  //////////////////////////////////////////////////// */

.themeButton {
  opacity: 0;
  position: absolute;
}

.themeButton-label {
  background-color: var(--section-color);
  width: 60px;
  height: 33px;
  border-radius: 50px;
  position: relative;
  padding: 7px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border: 1px solid var(--main-color);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.themeButton-label .ball {
  background-color: #fff;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 4px;
  top: 4px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.openLight {
  transform: translateX(28px);
  -webkit-transform: translateX(28px);
  -moz-transform: translateX(28px);
  -ms-transform: translateX(28px);
  -o-transform: translateX(28px);
}

/* ///////////////////////////////////////////////// Start Language Button  //////////////////////////////////////////////////// */

.lang {
  font-size: 16px;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.lang:hover {
  background-color: #917d56;
}

/* ///////////////////////////////////////////////// Start Nav Bar  //////////////////////////////////////////////////// */

.navBar {
  padding: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 999;
}

.navBar .container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.navBar .container .links ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navBar .container .links ul li {
  padding: 10px;
  position: relative;
  cursor: pointer;
}
.navBar .container .links ul li::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  transition: 0.5s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.navBar .container .links ul li a {
  color: white;
  font-size: var(--main-font-size);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.navBar .container .links ul li:hover::after {
  width: 100%;
  left: 0px;
}

.navBar .container .links ul li:hover a {
  color: var(--main-color);
}

.navBar .container .buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navBar .container .themeAndLang {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}

/* ///////////////////////////////////////////////// Start Side Nav  //////////////////////////////////////////////////// */

.sideNavIcon {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999999;
}

#nav-icon1 {
  width: 35px;
  height: 25px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: inline-block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 12px;
}

#nav-icon1 span:nth-child(3) {
  top: 24px;
}

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.NavBarMinScreen {
  position: fixed;
  top: 0px;
  left: 110%;
  bottom: 0px;
  width: 100%;
  background-color: var(--section-color);
  opacity: 0.97;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 9999999;
}

.NavBarMinScreen .links {
  align-self: flex-start;
}
.NavBarMinScreen .links ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.NavBarMinScreen .links ul li {
  padding: 10px;
}

.NavBarMinScreen .links ul li a {
  color: white;
  font-size: var(--main-font-size);
}

.NavBarMinScreen .buttons {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.NavBarMinScreen .buttons > button {
  width: 49%;
}

.NavBarMinScreen .themeAndLang {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.openSideBar {
  left: 0px;
}

/* ///////////////////////////////////////////////// Start footer  //////////////////////////////////////////////////// */

footer {
  width: 100%;
  padding-bottom: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  background: var(--section-color);
  position: relative;
  overflow: hidden;
}

footer .footerBackground {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .darkLayOut {
  position: absolute;
  inset: 0;
  z-index: 2;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    var(--section-color) 2%,
    var(--body-color-gradient) 99%
  );
}
footer .footerBackground img {
  height: 100%;
  width: 30%;
}
footer .container {
  position: relative;
  z-index: 99;
}

footer .container .supscribeBox {
  padding: 50px 0px;
  border-bottom: 1px solid var(--main-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

footer .container .supscribeBox p {
  font-size: var(--larg-font-size);
  color: white;
  text-align: center;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
footer .container .supscribeBox .inputBox {
  padding: 8px 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: var(--section-color);
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
footer .container .supscribeButton {
  padding: 10px 20px;
  font-size: var(--larg-font-size);
  color: white;
  transition: 0.5s;
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -ms-transition: 0.5;
  -o-transition: 0.5;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50px;
  flex-grow: 1;
  background-color: var(--main-color);
}
footer .container .supscribeButton:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

footer .container .supscribeBox .inputBox input {
  border-radius: 50px;
  padding: 8px;
  font-size: var(--larg-font-size);
  background-color: transparent;
  border: none;
  color: white;
  width: 80%;
}

footer .container .supscribeBox .inputBox input:focus {
  outline: none;
  border: none;
}

footer .footerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  padding: 50px 0px;
}

footer .footerContainer .footerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-grow: 1.5;
}

footer .footerContainer .footerLogo p {
  color: white;
  font-size: var(--main-font-size);
  width: 60%;
  text-align: center;
}

footer .footerContainer .footerLogo .socialMediaIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-grow: 1.5;
}
footer .footerContainer .footerLogo .socialMediaIcons li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  overflow: hidden;
}
footer .footerContainer .footerLogo .socialMediaIcons li a {
  color: rgb(185 185 185);
  font-size: 22px;
}

footer .footerContainer .footerLogo .socialMediaIcons li:hover {
  background-color: var(--main-color);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
footer .footerContainer .footerLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2;
  gap: 50px;
}
footer .footerContainer .footerLinks ul li {
  font-size: 22px;
  color: white;
  font-weight: bold;
  padding: 8px 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}
footer .footerContainer .footerLinks ul li a {
  font-size: var(--main-font-size);
  color: rgb(185 185 185);
  font-weight: lighter;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

footer .footerContainer .footerLinks ul li:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
footer .footerContainer .footerLinks ul li:hover a {
  color: white;
}

footer .footerContainer .footerSocialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}
footer .footerContainer .footerSocialLinks > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

footer .footerContainer .footerSocialLinks > div .box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
footer .footerContainer .footerSocialLinks > div .box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid var(--main-color);
  cursor: pointer;
}

footer .footerContainer .footerSocialLinks > div .box .icon i {
  color: rgb(185 185 185);
  font-size: 22px;
}
footer .footerContainer .footerSocialLinks > div .box .socialInfo {
  padding: 8px 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid var(--main-color);
  color: white;
  font-size: var(--small-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 150px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}

footer .footerContainer .footerSocialLinks > div .box .socialInfo:hover {
  background-color: var(--main-color);
}

footer .copyright {
  padding: 20px;
  background-color: #000;
  color: rgb(255, 254, 254);
  text-align: center;
  width: 100%;
  font-size: 14px;
}

/* ///////////////////////////////////////////////// Start date dropDown list  //////////////////////////////////////////////////// */

.dropDownList {
  position: absolute;
  top: 110%;
  left: 0%;
  width: 100%;
  background-color: var(--second-section-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid white;
  z-index: 5;
  padding: 10px;
  display: none;
}
.dateDropDown {
  position: absolute;
  top: 110%;
  left: 0%;
  background-color: var(--second-section-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid white;
  z-index: 5;
  padding: 10px;
  display: none;
  width: 400px;
}

.dropDownList li {
  padding: 10px;
  font-size: var(--main-font-size);
  color: white;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.dropDownList li:hover {
  backdrop-filter: brightness(80%);
}

.dropDownBox {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 0px 10px;
  width: 100%;
  cursor: pointer;
  height: 35px;
}
/* /////////////////////////////////////////////// modifay //////////////////////////////////// */
.dropDownBox input {
  background-color: transparent;
  width: 90%;
  border: none;
  outline: none;
  padding: 8px;
  position: relative;
  z-index: -1;
  font-size: 16px;
}

/* /////////////////////////////////////////////// modifay //////////////////////////////////// */
.dropDownBox i {
  color: white;
}

.swal2-confirm {
  background-color: var(--main-color);
}
/* ///////////////////////////// اخر تعديل ////////////////////////////////// */

.addYourUintSection {
  position: fixed;
  inset: 0;
  z-index: 99999999;
  display: none;
}
.addYourUintSection .addUnitScreenContainer {
  position: fixed;
  inset: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 0px;
}

.addYourUintSection .addUnitScreenCloseIcon {
  position: fixed;
  top: 30px;
  left: 30px;
  cursor: pointer;
  z-index: 999999999;
}

.addYourUintSection .addUnitScreenCloseIcon i {
  font-size: var(--Xlarg-font-size);
  color: white;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.addYourUintSection .addUnitScreenCloseIcon i:hover {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.addYourUintSection .imageSide {
  width: 400px;
  background-color: var(--second-section-color);
  position: relative;
}

.addYourUintSection .imageSide .backgroundLay {
  position: absolute;
  inset: 0px;
  z-index: 1;
}

.addYourUintSection .imageSide .backgroundLay img {
  width: 100%;
  height: 100%;
}

.addYourUintSection .imageSide .displaiedLay {
  position: absolute;
  inset: 0;
  z-index: 2;
  background: rgb(24, 19, 28);
  background: linear-gradient(
    180deg,
    rgba(36, 27, 44, 0.979) 10%,
    rgba(36, 30, 41, 0.205) 95%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}
.addYourUintSection .imageSide .displaiedLay img {
  width: 250px;
}

.addYourUintSection .imageSide .displaiedLay .textSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: var(--larg-font-size);
  color: white;
  text-align: center;
  padding: 20px 0px;
  border-bottom: 1px solid white;
}

.addYourUintSection .addUintFormSide {
  width: calc(100% - 400px);
  background-color: var(--section-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.addYourUintSection .addUintFormSide .swiperContainer {
  width: 500px;
  height: 80vh;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid white;
  display: none;
}

.addYourUintSection .addUintFormSide .swiperContainer .addUnitSwiper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.addYourUintSection
  .addUintFormSide
  .swiperContainer
  .addUnitSwiper
  .swiper-wrapper {
  height: calc(100% - 100px);
}
.addYourUintSection
  .addUintFormSide
  .swiperContainer
  .addUnitSwiper
  .paginationButtons {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  align-items: flex-end;
}
.addYourUintSection
  .addUintFormSide
  .swiperContainer
  .addUnitSwiper
  .paginationButtons
  button {
  padding: 10px 40px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  height: fit-content;
  font-size: var(--inital-font-size);
}
.addYourUintSection .addUintFormSide .swiper {
  width: 100%;
  height: 100%;
}

.addYourUintSection .addUintFormSide .swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addYourUintSection .addUintFormSide .swiper-slide > div {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.addYourUintSection .addUintFormSide .swiper-slide div::-webkit-scrollbar {
  width: 4px;
}

.addYourUintSection
  .addUintFormSide
  .swiper-slide
  div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.addYourUintSection
  .addUintFormSide
  .swiper-slide
  div::-webkit-scrollbar-thumb {
  background: #a5a5a5;
}
.addYourUintSection .addUintFormSide .swiper-slide div h2 {
  margin-top: 20px;
  margin-bottom: 0px;
  width: 100%;
  text-align: start;
  font-size: var(--Xlarg-font-size);
  color: white;
}

.addYourUintSection .addUintFormSide .swiper-slide div p {
  margin: 0px 0px 20px;
  width: 100%;
  text-align: start;
  font-size: var(--larg-font-size);
  color: #ccc;
}
.addYourUintSection .addUintFormSide .swiper-slide div h2 span {
  margin-top: 0px !important;
}

.addYourUintSection .addUintFormSide .swiper-slide div .inputContainer {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: flex-start;
  width: 100%;
  gap: 15px;
}

.addYourUintSection .addUintFormSide .swiper-slide div .inputContainer label {
  font-size: var(--inital-font-size);
  color: white;
}

.addYourUintSection
  .addUintFormSide
  .swiper-slide
  div
  .inputContainer
  .select-btn {
  background-color: white;
}
.addYourUintSection
  .addUintFormSide
  .swiper-slide
  div
  .inputContainer
  .select-btn
  span,
.addYourUintSection
  .addUintFormSide
  .swiper-slide
  div
  .inputContainer
  .select-btn
  i {
  color: #000;
}

.addYourUintSection .addUintFormSide .swiper-slide div .inputContainer input {
  background-color: white !important;
  padding: 8px 20px;
  font-size: var(--inital-font-size);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  justify-content: space-between;
  border: 1px solid white;
  position: relative !important;
  width: 100%;
  height: 35px;
}

.addYourUintSection
  .addUintFormSide
  .swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill {
  background-color: var(--main-color);
}

.addYourUintSection .addUintFormSide .swiper-pagination {
  top: initial !important;
  bottom: 90px !important;
  background-color: white;
}

.addYourUintSection .addUintFormSide .checkPoneNumberBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 500px;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
  gap: 20px;
}

.addYourUintSection .addUintFormSide .checkPoneNumberBox h2 {
  margin: 10px 0px;
  font-size: var(--Xlarg-font-size);
  color: white;
}

.addYourUintSection .addUintFormSide .checkPoneNumberBox p {
  font-size: var(--inital-font-size);
  color: rgb(189, 189, 189);
  width: 90%;
  margin: 0px;
}

.addYourUintSection .addUintFormSide .checkPoneNumberBox .continueButton {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  background-color: var(--main-color);
  color: white;
  padding: 10px 30px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}

.addYourUintSection .addUintFormSide .checkPoneNumberBox .continueButton:hover {
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
}
.addYourUintSection .addUintFormSide .checkPoneNumberBox .continueButton i {
  display: none;
}
.addYourUintSection .addUintFormSide .errorMessage span {
  font-size: var(--main-font-size);
  color: rgb(167, 4, 4);
}

.addYourUintSection .addUintFormSide .checkPoneNumberBox .phoneInputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addYourUintSection .addUintFormSide .iti--allow-dropdown input.iti__tel-input,
.iti--allow-dropdown input.iti__tel-input[type="text"],
.iti--allow-dropdown input.iti__tel-input[type="tel"] {
  padding: 9px 20px 9px 20px !important;
  width: 250px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: none;
}

.iti--allow-dropdown .iti__country-container {
  left: -70px !important;
  right: auto !important;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.iti__selected-country {
  padding: 5px;
}

.iti--inline-dropdown .iti__dropdown-content {
  margin-top: 10px;
  z-index: 99;
}

#iti-0__dropdown-content {
  width: 320px !important;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-top: 10px;
}

#click {
  margin-top: 50px;
}

.iti__search-input {
  padding: 8px 20px !important;
  width: 100% !important;
}

.iti__selected-country-primary {
  gap: 5px;
}

.iti__arrow {
  border-top-color: #000000;
}

.select-btn {
  background-color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.select-btn i {
  color: black;
}

.select-btn span {
  color: black;
}

.iti.iti--container.iti--fullscreen-popup {
  z-index: 999999999;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.addYourUintSection
  .addUintFormSide
  .swiperContainer
  .addUnitSwiper
  .firstForm {
  display: flex;
  flex-direction: column;
}

.inputContainer .uploadImage {
  width: 100%;
  border: 2px dashed #ccc;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 140px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.inputContainer .uploadImage .imageUploaded {
  position: absolute;
  inset: 0px;
  overflow: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  display: none;
  cursor: initial;
}
.inputContainer .uploadImage .imageUploaded i {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: var(--inital-font-size);
  color: white;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  opacity: 0;
}

.inputContainer .uploadImage:hover {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.inputContainer .uploadImage:hover i {
  opacity: 1 !important;
}

.inputContainer .uploadImage .imageUploaded img {
  width: 100%;
}

.inputContainer .uploadImage i {
  color: #ccc;
  font-size: var(--larg-font-size);
}

.inputContainer .uploadImage p {
  margin: 0px;
  width: 100%;
  text-align: center !important;
}

.inputContainer .uploadImage span {
  font-size: var(--inital-font-size);
  color: #ccc;
  text-align: center;
}

.addYourUintSection
  .addUintFormSide
  .swiperContainer
  .addUnitSwiper
  .secondForm
  .addPhoto {
  padding: 20px 0px;
  border-top: 1px solid var(--main-color);
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addYourUintSection
  .addUintFormSide
  .swiperContainer
  .addUnitSwiper
  .secondForm
  .addPhoto
  button {
  padding: 10px 20px;
  font-size: var(--inital-font-size);
  color: white;
  background-color: var(--main-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.addYourUintSection
  .addUintFormSide
  .swiperContainer
  .addUnitSwiper
  .secondForm
  .addPhoto
  > span {
  color: #ccc;
  font-size: var(--inital-font-size);
}

.addYourUintSection
  .addUintFormSide
  .swiperContainer
  .addUnitSwiper
  .secondForm
  .addPhoto
  button:hover {
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
}

.addYourUintSection
  .addUintFormSide
  .swiperContainer
  .addUnitSwiper
  .secondForm
  .inputContainer
  .uploadImage
  .imageBox {
  position: absolute;
  inset: 0;
  overflow: hidden;
  cursor: initial;
}

.addYourUintSection
  .addUintFormSide
  .swiperContainer
  .addUnitSwiper
  .secondForm
  .inputContainer
  .uploadImage
  .imageBox
  img {
  width: 100%;
}

.addYourUintSection
  .addUintFormSide
  .swiperContainer
  .addUnitSwiper
  .secondForm
  .inputContainer
  .uploadImage
  .imageBox
  i {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: var(--inital-font-size);
  color: white;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  opacity: 0;
}

#lodingSpiner {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 0px;
  z-index: 99;
  color: #ccc;
  font-size: var(--Xlarg-font-size);
  width: 100%;
  text-align: center;
}

.addYourUintSection .addUintFormSide .swiperContainer .fourthSectionSlide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: calc(100% - 100px);
  z-index: 9999;
  overflow: hidden;
  padding: 20px;
  background-color: #18131c;
  display: none;
}

.addYourUintSection
  .addUintFormSide
  .swiperContainer
  .fourthSectionSlide
  .addUnitMap {
  width: 100%;
  height: 50vh;
}
.addYourUintSection
  .addUintFormSide
  .swiperContainer
  .fourthSectionSlide
  .addUnitMap
  #addUnitMap {
  width: 100% !important;
  height: 100% !important;
}

.addYourUintSection .addUintFormSide .swiperContainer .fourthSectionSlide h2 {
  color: white;
  font-size: var(--Xlarg-font-size);
}
.counterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.counterContainer h3 {
  color: white;
  font-size: var(--larg-font-size);
}
.counter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter button {
  font-size: 30px;
  padding: 10px;
  color: white;
  font-weight: bold;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.counter input {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: transparent;
}

#addUnitSubmitButton {
  padding: 10px 20px;
  font-size: var(--inital-font-size);
  color: white;
  background-color: var(--main-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  display: none;
}

.eighthSection h2 {
  border-bottom: 1px solid white;
  padding: 0px 0px 20px;
}

.eighthSection .sectionTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.eighthSection .sectionTitle h3 {
  font-size: var(--larg-font-size);
  color: white;
}
.eighthSection .sectionTitle > span {
  font-size: var(--inital-font-size);
  color: #ccc;
}

.eighthSection ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.eighthSection ul li {
  padding: 10px 15px;
  border: 1px solid white;
  background-color: #54415f;
  font-size: var(--inital-font-size);
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}

.eleventhSection p {
  font-size: var(--inital-font-size) !important;
  color: #ccc;
}

.eleventhSection .inputContainer textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 20px;
  font-size: var(--inital-font-size);
  color: black;
  resize: none;
}

/* ///////////////////////////////////////////////// Start media  //////////////////////////////////////////////////// */

@media (min-width: 1700px) {
  .container {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .NavBarMinScreen {
    display: none;
  }
}
@media (max-width: 1200px) {
  .navBar {
    display: none;
  }

  .sideNavIcon {
    display: initial;
  }
}
@media (max-width: 1100px) {
  .addYourUintSection .imageSide {
    display: none;
  }
  .addYourUintSection .addUintFormSide {
    width: 100%;
  }
}
@media (max-width: 991px) {
  footer .footerContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  footer .footerContainer > div {
    width: 100%;
    flex-grow: 1;
  }
  footer .container .supscribeBox .inputBox {
    width: 100%;
  }
  footer .footerBackground {
    display: none;
  }
  :root {
    --main-font-size: 12px;
    --larg-font-size: 20px;
    --header-font-size: 24px;
    --Xlarg-font-size: 28px;
    --inital-font-size: 14px;
  }
  footer .copyright {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  footer .footerContainer .footerSocialLinks > div {
    flex-direction: column;
    width: 100%;
  }
  footer
    .footerContainer
    .footerSocialLinks
    > div:nth-child(1)
    > div:nth-child(1),
  footer
    .footerContainer
    .footerSocialLinks
    > div:nth-child(2)
    > div:nth-child(1) {
    align-self: flex-end;
    flex-direction: row-reverse;
  }
  footer
    .footerContainer
    .footerSocialLinks
    > div:nth-child(1)
    > div:nth-child(2),
  footer
    .footerContainer
    .footerSocialLinks
    > div:nth-child(2)
    > div:nth-child(2) {
    align-self: flex-start;
  }
  .dateDropDown {
    width: 100%;
  }
  .addYourUintSection
    .addUintFormSide
    .checkPoneNumberBox
    .phoneInputContainer
    input {
    padding: 10px 15px;
  }
  .addYourUintSection
    .addUintFormSide
    .checkPoneNumberBox
    .phoneInputContainer
    input {
    width: 150px !important;
  }
  .iti__search-input {
    width: 100% !important;
  }

  #iti-0__dropdown-content {
    width: 220px !important;
  }

  .addYourUintSection
    .addUintFormSide
    .swiperContainer
    .addUnitSwiper
    .swiper-wrapper {
    height: calc(100% - 80px);
  }
  .addYourUintSection
    .addUintFormSide
    .swiperContainer
    .addUnitSwiper
    .paginationButtons {
    height: 80px;
  }
  .addYourUintSection .addUintFormSide .swiper-pagination {
    bottom: 70px !important;
  }
  .addYourUintSection .addUintFormSide .swiperContainer {
    height: 95vh;
  }
  .addUintVerifyInputBox .addUintVerificationCodeInput input {
    padding: 10px !important;
  }
}
@media (max-width: 500px) {
  .inputContainer .dateDropDown {
    width: 112%;
    left: -6%;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
.autocomplete-items {
  display: none !important;
}
.addUintVerifyInputBox {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  display: none;
  width: 500px;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
}

.addUintVerifyInputBox h2 {
  margin: 10px 0px;
  font-size: var(--Xlarg-font-size);
  color: white;
}

.addUintVerifyInputBox p {
  font-size: var(--inital-font-size);
  color: rgb(189, 189, 189);
  width: 90%;
  margin: 0px;
}

.addUintVerifyInputBox .continueButton {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  background-color: var(--main-color);
  color: white;
  padding: 10px 30px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}

.addUintVerifyInputBox .continueButton:hover {
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
}

.addUintVerifyInputBox .continueButton i {
  display: none;
}
.errorMessage span {
  font-size: var(--main-font-size);
  color: rgb(167, 4, 4);
}

.addUintVerifyInputBox .backToPhoneIput {
  font-size: var(--main-font-size);
  padding: 0px 20px;
  color: var(--main-color);
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.addUintVerifyInputBox .backToPhoneIput:hover {
  color: #d3b57d;
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}

.addUintVerifyInputBox .backToPhoneIput i {
  margin: 0px 10px;
}

.addUintVerifyInputBox .addUintVerificationCodeInput {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.addUintVerifyInputBox .addUintVerificationCodeInput input {
  width: calc(100% / 4 - 15px);
  font-size: var(--Xlarg-font-size);
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: transparent;
  color: white;
  text-align: center;
}

.leaflet-popup-content-wrapper {
  text-align: center !important;
}
